@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Paleta de Cores 

    Cor1: #000000
    Cor2: #ffffff
    Cor3: #378ADD
    Cor4: #E6F1FB
    Cor5: #5F5E5A
    Cor6: #D3D1C7
    Cor7: #B5D4F4;

*/

/* Fonte

    Fonte Principal: "Inter", sans-serif;

*/

:root{

    ---Preto: #000000;

    ---Branco: #ffffff;

    ---Azul_Destaque: #378ADD;

    ---Azul_Claro_Badge: #E6F1FB;

    ---Cinza_Texto: #5F5E5A;

    ---Cinza_Borda: #D3D1C7;

    ---Font_Principal: "Inter", sans-serif;

    ---Azul_Badge_Texto: #B5D4F4;

    ---Azul_Badge_Fundo: #0C447C;

}

*{

    padding: 0px;
    margin: 0px;

    box-sizing: border-box;

    text-align: justify;

}

body{

    font-size: var(---Font_Principal);

    background-color: rgb(46, 45, 45);

}

main#conteiner{

    width: 100vw;
    height: 92vh;

    display: flex;

    flex-flow: row nowrap;

    justify-content: space-around;

    align-items: center;

    gap: 24px;

}

section.cards{

    background-color: var(---Cinza_Texto);

}

span{

    color: var(---Cinza_Borda);

    font-size: 13px;

}

section#basico{

    padding: 10px;

    width: 220px;
    height: 240px;

    border-radius: 10px;   
    border: 1px solid var(---Branco);

}



h1#text1{

    color: var(---Branco);

    font-size: 1.2rem;
    font-weight: bolder;

    margin: 10px 0px 5px 10px;

}

h2#preç1{

    color: var(---Branco);

    margin: 0px 0px 5px 10px;

    font-size: 22px;

}

ul#cont1{

    list-style-type: none;

    padding: 10px;
    margin: 5px 0px 5px 0px;

    color: var(---Cinza_Borda);

}

button#buton1{

    background-color: var(---Cinza_Texto);
    color: var(---Branco);

    text-align: center;

    padding: 10px;
    margin-top: 5px;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.637);

    width: 100%;

}

section#pro{

    width: 250px;
    height: 280px;

    border-radius: 10px;  
    border: 2px solid var(---Azul_Destaque);

}

span#popu{

    display: inline-block;

    background-color: var(---Azul_Badge_Fundo);
    color: var(---Azul_Badge_Texto);

    padding: 5px;
    margin: 15px 0px 0px 15px;

    font-size: 11px;

    border-radius: 10px;

}

h1#text2{

    color: var(---Branco);

    font-size: 1.4rem;
    font-weight: bolder;

    margin: 10px 0px 5px 18px;


}

h2#preç2{

    color: var(---Branco);

    margin: 0px 0px 5px 18px;

    font-size: 20px;   

}

ul#cont2{

    list-style-type: none;

    padding: 5px 0px 15px 10px;
    margin: 10px;

    color: var(---Cinza_Borda);

}

button#buton2{

    background-color: var(---Azul_Destaque);
    color: var(---Branco);

    text-align: center;

    margin-bottom: 10px;
    padding: 10px;

    border-radius: 20px;
    border: none;

    width: 47%;

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

}

section#premium{

    width: 220px;
    height: 250px;

    border-radius: 10px;
    border: 1px solid var(---Branco);

}

h1#text3{

    color: var(---Branco);

    padding: 10px;

    font-size: 1.2rem;
    font-weight: bolder;

    margin: 10px 0px 5px 10px;

}

h2#preç3{

    color: var(---Branco);

    margin: 0px 0px 5px 18px;

    font-size: 22px;

}

ul#cont3{

    list-style-type: none;

    padding: 10px;
    margin: 5px 0px 10px 10px;

    color: var(---Cinza_Borda);

}

button#buton3{

    background-color: var(---Cinza_Texto);
    color: var(---Branco);

    text-align: center;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.637);

    width: 22%;

    position: absolute;

    left: 50%;

    transform: translateX(-0%);

}



